@model DUST.Models.Ticket

@{
    ViewData["Title"] = "Restore";
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>@ViewData["Title"]</title>

</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid px-0">
            <div class="container">
                <div class="row flex-center min-vh-100 py-5">
                    <div class="col-sm-10 col-md-8 col-lg-5 col-xxl-4">
                        <div class="d-flex flex-center align-items-center fw-bolder fs-5 d-inline-block mb-4">
                            <span class="fas fa-trash-can-arrow-up"></span>
                        </div>
                        <div class="px-xxl-7">
                            <div class=" mb-1">
                                <h4 class="text-1000 mb-5">Are you sure you want to restore this ticket?</h4>
                                <p class="text-700"><b>Title: </b> @Model.Title</p>
                                <p class="text-700"><b>Status: </b> @Model.TicketStatus.Name</p>
                                @{
                                    var developer = Model.DeveloperUser?.FullName ?? "NONE ASSIGNED";
                                    var owner = Model.OwnerUser?.FullName ?? "SEEDED";
                                }
                                <p class="text-700"><b>Developer: </b> @developer</p>
                                <p class="text-700"><b>Owner: </b> @owner</p>
                                <form class="d-flex align-items-center mb-5" asp-action="Restore">
                                    <input type="hidden" asp-for="Id" />
                                    <a class="fs--1 fw-bold" asp-action="AllTickets">Back to All Tickets</a>
                                    <button class="btn btn-success ms-4" type="submit">Restore<span class="fas fa-trash-can-arrow-up ms-2"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

</body>

