@model DUST.Models.ViewModels.AssignPMViewModel
@{
    ViewData["Title"] = "Assign PM";
}

<div class="content">
    <div class="row">
        @*<div class="col-md-6">
                <h3>@Model.Project.Name</h3>
                <div class="card mt-3">
                    <div class="card-header">
                        <label class="control-label">Assign PM</label>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="AssignPM">
                            <input type="hidden" asp-for="Project.Id" />
                            <p>Description: @Model.Project.Description</p>
                            <div class="form-group">
                                <label class="col-form-label">Select a Project Manager</label>

                                <select required asp-for="PMId" asp-items="@Model.ProjectManagers" class="form-control">
                                    <option></option>
                                </select>

                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" value="Assign" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@
        <div class="col-md-6">

            <h2 class="mb-4">Assign a Project Manager</h2>
            <div class="card" style="max-width:25rem;">
                @if (Model.Project.ImageFileData != null)
                {
                    <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                }
                else
                {
                    <img class="card-img-top" src="~/img/defaultProjectImage.jpg">
                }

                <div class="card-body">
                    <h5 class="card-title">@Model.Project.Name</h5>
                    <p class="card-text line-clamp-4">@Model.Project.Description </p>
                    <form asp-action="AssignPM" method="post">
                        <input type="hidden" asp-for="Project.Id" />
                        <select required class="card-text form-select mb-2" asp-for="PMId" asp-items="@Model.ProjectManagers" aria-label="Select a Project Manager">
                            <option></option>
                        </select>
                        <input type="submit" value="Assign" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
