@model DUST.Models.Project
@using DUST.Models.Enums
@using DUST.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<DUSTUser> UserManager
@inject IProjectService ProjectService
@inject ITicketHistoryService HistoryService
@inject ITicketService TicketService

@{
    ViewData["Title"] = "Details";
    DUSTUser dustUser = await UserManager.GetUserAsync(User);
    DUSTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.Id);
}

<h1>Details</h1>

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            <!--#region Project Description-->         
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-5 bg-secondary">
                    <div class="card col m-1 p-2">
                        <div class="body">
                            <h5>@Model.Name</h5>
                            <p>@Model.Description</p>
                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge" style="font-size:small">Project Status</span>
                                <div class="progress">
                                    @{
                                        var start = Model.StartDate.DateTime;
                                        var end = Model.EndDate.DateTime;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 :
                                                      today < start ? 0 :
                                                      Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="body">
                            <ul class=" list-unstyled basic-list">
                                <li>Start Date: <span class="">@Model.StartDate.ToString("dd MMM, yyyy")</span></li>
                                <li>Deadline: <span class="">@Model.EndDate.ToString("dd MMM, yyyy")</span></li>
                                @if (Model.ProjectPriority?.Name == null)
                                {
                                    <li>Priority: <span class=""><i>Not Assigned</i></span></li>
                                }
                                else
                                {
                                    <li>Priority: <span class="">@Model.ProjectPriority?.Name</span></li>
                                }

                                @if (today < end && today >= start)
                                {
                                    <li>Status: <span class="">Active</span></li>
                                }
                                else
                                {
                                    <li>Status: <span class="">Inactive</span></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>          
            <!--#endregion-->

            <!--#region Project Manager-->
            <div class="col-md-4 col mt-5 ">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Manager</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            @if (projectManager != null)
                            {
                                <div>
                                    @if (projectManager.AvatarByteData != null)
                                    {
                                        <img class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarByteData))" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle" style="width:60px;height:60px;" src="~/img/defaultUserImage.png" />
                                    }
                                    <div>
                                        <h5>@projectManager.FullName</h5>
                                        <span>@projectManager.Email</span>
                                        <p class="text-muted m-b-0">Project Manager</p>
                                        @if (User.IsInRole(nameof(RolesEnum.Admin)) || (dustUser.Id == projectManager.Id))
                                        {
                                            <a class="btn btn-xs btn-outline-primary" style="font:small"
                                       asp-controller="Projects" asp-action="AssignMembers" asp-route-projectId="@Model.Id">Manage Team</a>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <img class="rounded-circle" style="width:60px;height:60px;" src="~/img/defaultUserImage.png" />
                                    <div class="wid-u-info">
                                        <h5 class="text-muted m-b-0">Not Assigned</h5>
                                        @if (User.IsInRole(nameof(RolesEnum.Admin)))
                                        {
                                            <span>
                                                <a class="btn btn-xs btn-outline-info"
                                                   asp-controller="Projects" asp-action="AssignPM" asp-route-projectId="@Model.Id">
                                                    Assign ProjectManager
                                                </a>
                                            </span>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--#endregion-->

            <!-- #region Project Team -->
            <div class="col-md-4 col mt-5 ">
                <div class="bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Team</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <ul class="right_chat list-unstyled mb-0">
                                @{
                                    List<DUSTUser> allMembersMinusPM = await ProjectService.GetAllProjectMembersExceptPMAsync(Model.Id);
                                }
                                @if (allMembersMinusPM != null)
                                {
                                    @foreach (DUSTUser member in allMembersMinusPM)
                                    {
                                        <li class="">
                                            <a href="">
                                                <div class="media">
                                                    @if (member.AvatarByteData != null)
                                                    {
                                                        <img class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarByteData))" />
                                                    }
                                                    else
                                                    {
                                                        <img class="rounded-circle" style="width:60px;height:60px;" src="~/img/defaultUserImage.png" />
                                                    }
                                                </div>
                                            </a>
                                            <div class="">
                                                <span class="">@member.FullName - </span>
                                                <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                            </div>

                                        </li>
                                    }
                                }

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Project Activity -->
            <div class="col-md-4 col mt-5 ">
                <div class="bg-dark">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Project Activity</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;background-color:antiquewhite">
                           @{ 
                               List<TicketHistory> ticketsHistories = await HistoryService.GetProjectTicketsHistoriesAsync(Model.Id, dustUser.CompanyId);
                           }

                           @foreach (TicketHistory history in ticketsHistories)
                           {
                                <div class="">
                                    <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMM yyyy")</span>
                                    <h6>@history.Description</h6>
                                    <span>By: <a href="" title="@history.User.FullName">@history.User.FullName</a></span>
                                    <div class="">
                                        @if (history.Property.Equals("TicketComment") || history.Property.Equals("TicketAttachment"))
                                        {
                                            <p>A <b>@history.Property</b> was added. </p>

                                        }
                                        else if (!history.Description.Contains("New ticket created"))
                                        {
                                            <p>The ticket <b>@history.Property</b> was edited</p>
                                            <p>@($"Previous {history.Property}: ") <span class="text-muted">@history.OldValue</span></p>
                                            <p>@($"Current {history.Property}: {history.NewValue}")</p>
                                        }
                                        else
                                        {
                                            <p>"@((await TicketService.GetTicketByIdAsync(history.TicketId)).Title)"</p>
                                        }

                                    </div>
                                </div>
                                <hr />
                           }
                        </div>

                    </div>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region Tickets -->
            <div class="col-md-12 col">
                <div class="mt-5 bg-secondary">
                    <div class="card m-1 p-2">
                        <div class="header">
                            <h2>Tickets</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="overflow-y:auto;height:600px;">
                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            <th>Title</th>
                                            <th>Developer</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Created</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ticket in Model.Tickets.OrderByDescending(t => t.Created))
                                        {
                                        <tr>
                                            <td><a asp-controller="Tickets" asp-action="Details" asp-route-ticketId="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                            <td>
                                                @if (ticket.DeveloperUserId != null)
                                                {
                                                    @ticket.DeveloperUser?.FullName
                                                }
                                                else
                                                {
                                                    if (User.IsInRole(nameof(RolesEnum.Admin)) || (dustUser.Id == projectManager?.Id))
                                                    {
                                                        <a class="btn btn-xs btn-info" asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-ticketId="@ticket.Id">Assign Dev</a>
                                                    }

                                                }
                                            </td>
                                            <td>
                                                @if (ticket.TicketStatus.Name == nameof(TicketStatusEnum.Open))
                                                {
                                                    <span class="badge-success text-success">@ticket.TicketStatus.Name </span>
                                                }
                                                else
                                                {
                                                    <span class="badge-secondary">@ticket.TicketStatus.Name </span>
                                                }
                                                @if (User.IsInRole(nameof(RolesEnum.Admin)) || (dustUser.Id == projectManager?.Id))
                                                {
                                                    <div>
                                                        <a class="btn bt-sm btn-info" asp-controller="" asp-action="" asp-route-ticketId="@ticket.Id">Update Status</a>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @if (ticket.TicketPriority.Name == nameof(TicketPriorityEnum.Urgent))
                                                {
                                                    <span class="badge-danger text-danger">@ticket.TicketPriority.Name</span>
                                                }
                                                else if (ticket.TicketPriority.Name == nameof(TicketPriorityEnum.High))
                                                {
                                                    <span class="badge-warning text-warning">@ticket.TicketPriority.Name</span>
                                                }
                                                else
                                                {
                                                    <span class="badge-dark">@ticket.TicketPriority.Name</span>
                                                }
                                                @if (User.IsInRole(nameof(RolesEnum.Admin)) || (dustUser.Id == projectManager?.Id))
                                                {
                                                    <div>
                                                        <a class="btn btn-sm btn-info" asp-controller="" asp-action="" asp-route-ticketId="@ticket.Id">Update Priority</a>
                                                    </div>
                                                }
                                            </td>
                                            <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-info" asp-controller="Tickets" asp-action="Details" asp-route-ticketId="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                                @if (ticket.DeveloperUserId == dustUser.Id || ticket.OwnerUserId == dustUser.Id || dustUser.Id == projectManager?.Id || User.IsInRole(nameof(RolesEnum.Admin)))
                                                {
                                                    <a class="btn btn-sm btn-outline-secondary" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id"><i class="fs-5 bi-pencil"></i></a>
                                                }

                                                @if (User.IsInRole("Admin") || (dustUser.Id == projectManager?.Id))
                                                {
                                                    <a class="btn btn-sm btn-outline-danger"><i class="fs-5 bi-archive"></i></a>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- #endregion -->
        </div>
    </div>
</div>
