@model DUST.Models.Invite

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    @{
        ViewData["Title"] = "Process Invite";
    }
</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main style="--phoenix-scroll-margin-top: 1.2rem;">
        <section class="bg-white pb-8" id="home" style=" width:100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
            <div class="container-small hero-header-container">
                <div class="row align-items-center">
                    @* Left Panel *@
                    <div class="col-12 col-lg-auto d-none d-lg-block text-end">
                        <div class="position-relative p-5 p-md-7 d-lg-none">
                            <div class="bg-holder" style="background-image: url('/img/bg-23.png');background-size:contain;">
                            </div>
                            <!--/.bg-holder-->

                            <div class="position-relative"><img class="w-100 shadow-lg d-dark-none rounded-2" src="~/img/bg-31.png" alt="hero-header" /><img class="w-100 shadow-lg d-light-none rounded-2" src="~/img/bg-30.png" alt="hero-header" /></div>
                        </div>
                        <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                            <div class="position-relative h-100 w-100">
                                <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg"><img class="pt-7 pt-md-0 w-100" src="~/img/bg-1-2.png" alt="hero-header" /></div>
                                <div class="position-absolute h-100 top-0 d-flex align-items-center end-0"><img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="~/img/bg-28.png" alt="hero-header" /><img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="~/img/bg-29.png" alt="hero-header" /></div>
                            </div>
                        </div>
                    </div>
                    @* Right Panel*@
                    <div class="col-12 col-lg-6 pt-8 pb-6 position-relative">
                            <div class="card border border-warning" style="max-width:25rem;">
                                @if (Model.Project.ImageFileData != null)
                                {
                                    <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))" />
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/img/defaultProjectImage.jpg">
                                }
                                <div class="card-body">
                                    <h4 class="card-title text-warning">
                                        <span class="fas fa-door-open me-2"></span>
                                        Welcome to @Model.Company.Name, 
                                    </h4>
                                    <h4 class="card-title text-warning">
                                        @Model.InviteeFirstName @Model.InviteeLastName!
                                    </h4>
                                    <p class="card-text">@Model.Invitor.FullName has invited you to collaborate on the @Model.Project.Name project.</p>
                                    <p class="card-text">
                                        Click the <b>JOIN</b> button below to register with the company and have access to our systems.
                                    </p>
                                    <a asp-area="Identity"
                                       asp-page="/Account/RegisterByInvite"
                                       asp-route-inviteId="@Model.Id"
                                       asp-route-companyId="@Model.CompanyId"
                                       class="">
                                        <i class="fas fa-arrow-right-to-bracket"></i><b class="ms-2">JOIN</b>
                                    </a>
                                </div>
                            </div>
                       

                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>